* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

input {
	width: 100%;
}

input#entryInput {
	margin-bottom: 15px;
}

.entry {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.entry > :first-child {
	opacity: .7;
	font-size: 85%;
	margin-right: 10px;
	white-space: nowrap;
}

.entry > :last-child {
	flex: 1;
	word-break: break-word;
}

hr {
	border: 1px white solid;
	margin-bottom: 30px;
	margin-top: 15px;
}

h1 {
	display: inline-block;
}
#entriesInfo {
	display: inline-block;
	float: right;
}
